
 {% extends "base.html" %}
 {% block content %}
 <script src="https://d3js.org/d3.v4.min.js"></script>
<button type="button" class="btn">Save</button>
<button type="button" class="btn">Create Matching Ceremony</button>
<button type="button" class="btn" onclick="redraw()">Reset</button>
<div class="container">

Oswaldo, Ozzie, Jaelin, Eddie, Derek, Hayden, Tyler, Andre, Michael, Mike, Joey
Kari, Kathryn, Cam, Alicia, Taylor< Hanah< Gianna, Carolina, Cassandra, Tyrrany, Alica
 <div id="grid">

 <!-- <script src="grid.js" type="text/javascript"></script> -->
 <script>
  console.log({{x}})
 //console.log(y)
 function gridData() {
	var data = new Array();
	var xpos = 1; //starting xpos and ypos at 1 so the stroke will show when we make the grid below
	var ypos = 1;
	var width = 70;
	var height = 70;
	var click = 0;
	
	// iterate for rows	
	for (var row = 0; row < {{x}}; row++) {
		data.push( new Array() );
		
		// iterate for cells/columns inside rows
		for (var column = 0; column < {{y}}; column++) {
			data[row].push({
				x: xpos,
				y: ypos,
				width: width,
				height: height,
				click: click
			})
			// increment the x position. I.e. move it over by 50 (width variable)
			xpos += width;
		}
		// reset the x position after a row is complete
		xpos = 1;
		// increment the y position for the next row. Move it down 50 (height variable)
		ypos += height;	
	}
	return data;
}

var gridData = gridData();	
// I like to log the data to the console for quick debugging
console.log(gridData);

var grid = d3.select("#grid")
	.append("svg")
	.attr("width","900px")
	.attr("height","900px");
	
var row = grid.selectAll(".row")
	.data(gridData)
	.enter().append("g")
	.attr("class", "row");
	
var column = row.selectAll(".square")
	.data(function(d) { return d; })
	.enter().append("rect")
	.attr("class","square")
	.attr("x", function(d) { return d.x; })
	.attr("y", function(d) { return d.y; })
	.attr("width", function(d) { return d.width; })
	.attr("height", function(d) { return d.height; })
	.style("fill", "#fff")
	.style("stroke", "#222")
	.on('click', function(d) {
       d.click ++;
       if ((d.click)%5 == 0 ) { d3.select(this).style("fill","#fff"); }
	   if ((d.click)%5 == 1 ) { d3.select(this).style("fill","#659EC7"); }
	   if ((d.click)%5 == 2 ) { d3.select(this).style("fill","#000000"); }
	   if ((d.click)%5 == 3 ) { d3.select(this).style("fill","#FAAFBE"); }
	   if ((d.click)%5 == 4 ) { d3.select(this).style("fill","#ff0000"); }
    });


function redraw() {
	d3.select("svg").remove();

	var grid = d3.select("#grid")
	.append("svg")
	.attr("width","900px")
	.attr("height","900px");
	
var row = grid.selectAll(".row")
	.data(gridData)
	.enter().append("g")
	.attr("class", "row");
	
var column = row.selectAll(".square")
	.data(function(d) { return d; })
	.enter().append("rect")
	.attr("class","square")
	.attr("x", function(d) { return d.x; })
	.attr("y", function(d) { return d.y; })
	.attr("width", function(d) { return d.width; })
	.attr("height", function(d) { return d.height; })
	.style("fill", "#fff")
	.style("stroke", "#222")
	.on('click', function(d) {
       d.click ++;
       if ((d.click)%5 == 0 ) { d3.select(this).style("fill","#fff"); }
	   if ((d.click)%5 == 1 ) { d3.select(this).style("fill","#000000"); }
	   if ((d.click)%5 == 2 ) { d3.select(this).style("fill","#ff0000"); }
	   if ((d.click)%5 == 3 ) { d3.select(this).style("fill","#FAAFBE"); }
	   if ((d.click)%5 == 4 ) { d3.select(this).style("fill","#659EC7"); }
    });
}
    </script>
 </div>
 </div>



 {% endblock %}